*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; 
}

body {
  box-sizing: border-box; 
  position: relative;
  font-family: 'Roboto', sans-serif;
 
}

.container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    max-width: 110rem;
    min-width: 20rem;
    min-height: 100vh;
}